extends layout

block content
  .card
    h4.card-header.text-center= title
    .card-body
      form(action='/student/:householdid', method='POST')
        .form-row
          .col-md-4
          .col-md-4
            div.form-group
              label.control-label(for='studentfirstname') Student First Name:
              input#studentfirstname.form-control(type='text', name='studentfirstname', required='' placeholder='Student First Name')
            div.form-group
              label.control-label(for='studentlastname') Student Last Name:
              input#studentlastname.form-control(type='text', name='studentlastname', required='' placeholder='Student Last Name')
            //div.form-group
              label.control-label(for='studentid') Student ID:
              input#studentid.form-control(type='text', name='studentid', required='' placeholder='Student ID')
            div.form-group
              label.control-label(for='householdid') Household ID:
              input#householdid.form-control(type='text', name='householdid', required='' placeholder='Household ID')
            div.form-group
              label.control-label(for='dateofbirth') Date of birth:
              input#dateofbirth.form-control(type='date', required='')
            div.form-group
              label.control-label(for='academicprogram') Academic Program:
              select#academicprogram.form-control(name='academicprogram', required='')
                option(value='prek') Pre-K
                br
                option(value='kindergarten') Kindergarten
                br
                option(value='first') First
                br
                option(value='second') Second
                br
                option(value='third') Third
                br
                option(value='fourth') Fourth
                br
                option(value='fifth') Fifth
                br
                option(value='sixth') Sixth
                br
                option(value='aftercareonly') Aftercare Only
                br
            div.form-group
              div.form-check
                label.control-label.form-check-label(for='aftercare') Aftercare (Yes/No):
                input#aftercare.form-control.form-check-input(type='checkbox', name='aftercare', required='')
            br
            
          .col-md-4
        .row
          .col-md-4
          .col-md-4
            .form-group
              label.control-label(for='notes') Student Notes:
              textarea.form-control(rows='3')
            div.form-group
              input#submit.form-control.btn.btn-primary.btn-md(type='submit', value='Add Student to Household')
              p
              input#reset.form-control.btn.btn-danger.btn-md(type='reset', value='Reset Form')
          .col-md-4
            

