extends layout
block content
    .card
        h4.card-header.text-center= title
        .card-body
            .form-row
                .col
                .col
                    form(action=`/student/${id}/aftercare`, method='POST')
                        .form-group
                            label.control-label(for='aftercaredate') Date of Aftercare: 
                            input#aftercaredate.form-control(type='date', name='aftercaredate', required='')
                        .form-group
                            label.control-label(for='aftercaretime') Time in Aftercare (in 15 minute blocks): 
                            input#aftercaretime.form-control(type='text', name='aftercaretime', required='')
                        //- .form-group
                        //-     label.control-label(for='studentid') Student ID: 
                        //-     input#studentid.form-control(type='text', name='studentid', required='')
                        .form-group.text-center
                            p
                            button.btn.btn-primary(type='submit', name='submitaftercare',) Add Aftercare Time
                .col
            .row