extends layout
block content
    .card
        h4.card-header.text-center= title
        .card-body
            h3 Student 1
            h5 Multi-child Discount: Yes
            h5 Monthly Fee: $350
            h5 Aftercare Time (in 15 minute blocks): 10
            h4 Subtotal: $500
            br
            h3 Student 2
            h5 Multi-child Discount: Yes
            h5 Monthly Fee: $350
            h5 Aftercare Time (in 15 minute blocks): 8
            h4 Subtotal: $475
            br
            h2 Total: $975