extends layout
block content
    .card.bill-card
    
    .card-header.bill-card-header
        .row
            .col-5 
                h2 Invoice
            .col-6
                .row
                    .col
                        h5.float-right Date: 12/27/2017
                .row
                    .col
                        h5.float-right Invoice #: 223
    .card-body.bill-card-body.inner-padding
        .row
            .col-3
                .row
                    .col
                        h5 Bill To:
                .row
                    .col
                        h5 Cortez Gartman
                .row
                    .col
                        h6 456 Jones St
                .row
                    .col
                        h6 Lufkin, TX 23943
                .row
                    .col
                        h6 926-435-3592    
            .col-4
            .col
                .row
                    .col
                        h5 Pay To:
                .row
                    .col
                        h5.nowrap Willowbrook Private School
                .row
                    .col
                        h6 3500 S 1st St 
                .row
                    .col
                        h6 Lufkin, TX 75904
                .row
                    .col
                        h6 (555)-864-3234
                .row
                    .col
                        h6 EIN: 12-3456789

        .row
            table.table.table-striped
                tbody
                    tr
                    th(scope='col') 
                        h5.nowrap Layna Gartman
                    th(scope='col')
                        .nowrap For the month of December 2017
                    tr
                    td
                    td Academic Tuition
                    td $500
                    td
                    tr
                    td
                    td Multi-Student Discount
                    td -$25
                    td
                    tr
                    td
                    td Monthly Payment Discount
                    td -$23.75
                    td
                    tr
                    td
                    td
                    td.bold Tuition total
                    td.bold $451.25
                    tr
                    td 
                    td Monthly Aftercare Fees
                    td $300
                    td
                    tr
                    td
                    td
                    td.bold Aftercare total 
                    td.bold $300
                    tr
                    td
                    td
                    td.bold.nowrap Layna Gartman Total:
                    td
                        h5.bold.underline $751.25
                    tr
                    th(scope='col') 
                        h5.nowrap Joseph Gartman
                    th(scope='col')
                        .nowrap For the month of December 2017
                    tr
                    td
                    td Academic Tuition
                    td $500
                    td
                    tr
                    td
                    td Multi-Student Discount
                    td -$25
                    td
                    tr
                    td
                    td Monthly Payment Discount
                    td -$23.75
                    td
                    tr
                    td
                    td
                    td.bold Tuition total
                    td.bold $451.25
                    tr
                    td 
                    td Monthly Aftercare Fees
                    td $300
                    td
                    tr
                    td
                    td
                    td.bold Aftercare total 
                    td.bold $300
                    tr
                    td
                    td
                    td.bold.nowrap Joseph Gartman Total:
                    td
                        h5.bold.underline $751.25
                    tr
                    td
                    td
                    td
                        h5.bold.nowrap Grand Total:
                    td
                        h4.bold.underline $1502.50
                    td

                    

            
            




            