extends layout

block content
  .card
    h4.card-header.text-center= title
    .card-body
      form(action='/household', method='POST')
        .form-row
          .col-md-3
          .col-md-3
            div.form-group
              label.control-label(for='studentfirstname') Student First Name:
              input#studentfirstname.form-control(type='text', name='studentfirstname', required='' placeholder='Student First Name')
            div.form-group
              label.control-label(for='studentlastname') Student Last Name:
              input#studentlastname.form-control(type='text', name='studentlastname', required='' placeholder='Student Last Name')
            //div.form-group
              label.control-label(for='studentid') Student ID:
              input#studentid.form-control(type='text', name='studentid', required='' placeholder='Student ID')
            div.form-group
              label.control-label(for='dateofbirth') Date of birth:
              input#dateofbirth.form-control(type='Date', name='dateofbirth', required='')
            div.form-group
              label.control-label(for='phone') Phone:
              input#phone.form-control(type='text', name='phone', required='' placeholder='555-5555')
            div.form-group
              label.control-label(for='altphone') Alternate Phone:
              input#altphone.form-control(type='text', name='altphone', placeholder='555-5555')
            div.form-group
              label.control-label(for='academicprogram') Academic Program:
              select#academicprogram.form-control(name='academicprogram', required='')
                option(value='Pre-K') Pre-K
                br
                option(value='Kindergarten') Kindergarten
                br
                option(value='First') First
                br
                option(value='Second') Second
                br
                option(value='Third') Third
                br
                option(value='Fourth') Fourth
                br
                option(value='Fifth') Fifth
                br
                option(value='Sixth') Sixth
                br
                option(value='Aftercare Only') Aftercare Only
                br
            div.form-group
              div.form-check
                label.control-label.form-check-label(for='aftercare') Aftercare (Yes/No):
                input#aftercare.form-control.form-check-input(type='checkbox', name='aftercare')
            br
          .col-md-3
            div.form-group
              label.control-label(for='parentfirstname') Parent First Name:
              input#parentfirstname.form-control(type='text', name='parentfirstname', required='' placeholder='Parent First Name')
            div.form-group
              label.control-label(for='parentlastname') Parent Last Name:
              input#parentlastname.form-control(type='text', name='parentlastname', required=''  placeholder='Parent Last Name')
            //div.form-group
              label.control-label(for='householdid') Household ID:
              input#householdid.form-control(type='text', name='householdid', required='' placeholder='Household ID')
            div.form-group
              label.control-label(for='streetaddress') Street Address:
              input#streetaddress.form-control(type='text', name='streetaddress', required=''  placeholder='Street Address')
            div.form-group
              label.control-label(for='city') City:
              input#city.form-control(type='text', name='city', required=''  placeholder='City')
            div.form-group
              label.control-label(for='state') State:
              select#state.form-control(name='state')
                option(value="TX") Texas
            div.form-group
              label.control-label(for='zip') Zip Code:
              input#zip.form-control(type='text', name='zip', required=''  placeholder='Zip Code')
            div.form-group
              label.control-label(for='billingcycle') Billing Cycle:
              select#billingcycle.form-control(name='billingcycle', required='')
                option(value="Monthly") Monthly
                br
                option(value="Weekly") Weekly
            
          .col-md-3
        .row
          .col-md-4
          .col-md-4
            .form-group
              label.control-label(for='notes') Student Notes:
              textarea.form-control(rows='3')
            div.form-group
              input#submit.form-control.btn.btn-primary.btn-md(type='submit', value='Register New Household')
              p
              input#reset.form-control.btn.btn-danger.btn-md(type='reset', value='Reset Form')
          .col-md-4
            

