extends layout

block content
  .card
    h4.card-header.text-center= title
    .card-body
          .col-md-4
          .col-md-4
            form(action='/householdsearch', method='POST')
              .form-row
                .form-group
                  label.control-label(for='searchTerm') Household Search:
                  input#searchTerm.form-control(type='text', name='searchTerm', required='' placeholder='Search for Household')
                .form-group
                  input#submit.form-control.btn.btn-primary.btn-md(type='submit', value='Search')

            form(action='/studentsearch', method='POST')
              .form-row
                .form-group
                  label.control-label(for='searchTerm') Student Search:
                  input#searchTerm.form-control(type='text', name='searchTerm', required='' placeholder='Search for Student')
                .form-group
                  input#submit.form-control.btn.btn-primary.btn-md(type='submit', value='Search')
          .col-md-4

